.loader {
  position: relative;
  display: inherit;
  flex-direction: inherit;
  align-items: inherit;
  width: 100%;
  height: 100%;
}

.background {
  opacity: 0.75;
  background-color: var(--white);
  width: 100%;
  height: 100%;
  position: absolute;
}

.background.dark {
  background-color: var(--black-500);
}

.spinner {
  animation: loading 1s linear infinite;
  border: 4px solid var(--black-100);
  border-top: 4px solid var(--black-500);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
