:root {
  --black-100: #f4f4f4;
  --black-200: #e9e9e9;
  --black-300: #757575;
  --black-400: #3a3a3a;
  --black-500: #2d2d2d;
  --black-600: #1f1f1f;
  --black-700: #050505;

  --white: #ffffff;

  --purple: #a445ed;
  --red: #ff5252;
}
