@font-face {
  font-family: "Inter";
  font-style: normal;
  src: url("@/assets/fonts/inter/static/Inter-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-weight: bold;
  src: url("@/assets/fonts/inter/static/Inter-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Lora";
  font-style: normal;
  src: url("@/assets/fonts/lora/static/Lora-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Lora";
  font-weight: bold;
  src: url("@/assets/fonts/lora/static/Lora-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Inconsolata";
  font-style: normal;
  src: url("@/assets/fonts/inconsolata/static/Inconsolata-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "Inconsolata";
  font-weight: bold;
  src: url("@/assets/fonts/inconsolata/static/Inconsolata-Bold.ttf")
    format("truetype");
}
