.fontSelector {
  width: fit-content;
  position: relative;
}

.button {
  cursor: pointer;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  font-size: inherit;
  color: inherit;
  padding: 0;
  gap: 16px;
}

.icon {
  margin-left: 4px;
}

.popup {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.1s;
  position: absolute;
}

.open {
  opacity: 1;
  max-height: 152px;
  width: 183px;
  border-radius: 8px;
  margin-top: 8px;
  background-color: var(--white);
  box-shadow: var(--black-200) 0px 0px 25px;
}
.open.dark {
  background-color: var(--black-600);
  box-shadow: var(--purple) 0px 0px 25px;
}

.options {
  display: flex;
  flex-direction: column;
}

.option {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 8px 16px;
  width: 100%;
  background: none;
  border: none;
}

.option.dark {
  color: var(--white);
}

.option:hover {
  color: var(--purple);
}

.selected {
  font-weight: bold;
}
