.searchField {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 18px;
  line-height: 24px;
}

.sans {
  font-family: "Inter";
}

.serif {
  font-family: "Lora";
}

.mono {
  font-family: "Inconsolata";
}

.inputWrapper {
  display: flex;
  gap: 16px;
  background-color: var(--bg-color-secondary);
  width: 100%;
  border-radius: 16px;
  box-sizing: border-box;
  height: 64px;
  padding: 20px 24px;
  border: 1px solid transparent;
}

.focusedBorder {
  border-color: var(--purple);
}

.errorBorder {
  border-color: var(--red);
}

.input {
  background-color: transparent;
  border: none;
  color: var(--font-color);
  width: 100%;
  height: 100%;
  flex-grow: 1;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.input:focus {
  outline: none;
}

.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img {
  width: 15.5px;
  height: 15.5px;
}

.error {
  color: var(--red);
}
